## Types of python functions
- Builtin functions - python 3.6 has 68 builtin functions
- Recursive function
- Lambda functions
- User-defined functions
## Control Flow statements
- if-else
- if-elif-else
## Concept of Loops
- Loops are used to repeat a block of code.
## Strings
- A string is a data structure in Python that represents a sequence of characters
- Strings are immutable i.e cannot be changed
## Concept of List - Python
- Lists are used to store multiple items in a single variable
- are mutable
## Tuples
- used to store collections of data
- are immutable
- are ordered, allows duplicate values
## Dictionaries
- are used to store data values in key:value pairs
- are mutable
- are dynamic and can grow and shrink as needed

### Built-in functions
- List, Tuple, Set, Dictionary

#### abs()

In [1]:
# abs() absolute function
x = abs(-10.5) 
print(x)

z = abs(3+5j)
print(z)

10.5
5.830951894845301

#### Bin Functions
- converts numbers into binary

In [2]:
x = bin(13)
print(x)

y = bin(36)
print(y)

z = bin(56)
print(z)

0b1101
0b100100
0b111000

#### Python bytes function

In [3]:
a =bytes(4)
print(a)

bytes(16)

b'\x00\x00\x00\x00'

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

#### Python chr function (character function)
- converts unicode to its corresponding alphabetical value
- ex: a = 97, b = 98

In [4]:
print(chr(97))
print(chr(99))
chr(94)

a
c

'^'

#### Complex function
- used to make complex number in python
- 2+3j where 2 = real number and 3j is the imaginary number

In [5]:
k = complex(3,5)
print(k)

print(complex(2.5,3.96))

print(complex(2))

(3+5j)
(2.5+3.96j)
(2+0j)

#### Float function

In [6]:
float(3)
float(5.538)

5.538

#### int function

In [7]:
int(1.5)

1

#### str() function

In [8]:
a = str(2568)
print(a)
print(type(a))

2568
<class 'str'>

#### help() function

In [9]:
help(print)
#help(float)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

#### input() function

In [10]:
user = input('Your name: ')
print('hello',user)

hello

### Control Flow statements
#### Flow control
1. Conditional statements
 - if, if-else,if-elif-else,nested if-else
2. Transfer Statements
 - break, continue, pass
3. Iterative Statements
 - for, while

In [11]:
# x = input('Enter the ame of the student: ')
# a = int(input('enter marks scored in English: '))
# b = int(input('enter marks scored in Math: '))
# c = int(input('enter marks scored in Science: '))
# total = a + b + c
# per = round((total/300)*100,3)
# print(f'Mark scored in percentage by {x} is:', per)
# if per >= 90:
#     print('Grade A')
# elif per >= 75 and per <= 90:
#     print('Grade B')
# elif per >= 65 and per <= 75:
#     print('Grade C')
# else:
#     print('Fail')

Mark scored in percentage by lil is: 34.667
Fail

### While Loops

In [3]:
# Program to display numbers 1 -5
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [7]:
# enter the value from a user and make a multiplication table till 10
user_inp = int(input('Enter a number: '))
i = 1
while i <= 10:
    print(f'{user_inp} x {i} = {user_inp * i}')
    i +=1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [10]:
count = 0
while(count < 5):
    print('hello')
    count += 1

hello
hello
hello
hello
hello

In [11]:
count = 0
while(count < 5):
    print('hello')
    count += 1
else:
    print('This is else block')

hello
hello
hello
hello
hello
This is else block

### For loop
- used to iterate over any sequences such as list, tuple, string, etc

In [13]:
for x in 'banana':
    print(x)

b
a
n
a
n
a

### User-defined function

In [3]:
# Making results of a student
def contact():
    print("Contact details of the school\n Delhi Public School\n Bangalore Karnataka\n")


for i in range(1):
    user_inp =input("Name of the student: ")    
    maths = int(input("enter marks for Mathematics "))
    science = int(input("enter marks for Science "))
    print(f"Marks of {user_inp}")
    print(f"Marks for mathematics {maths}")
    print(f"Marks for Science {science}")
    contact()

Marks of lolita
Marks for mathematics 85
Marks for Science 96
Contact details of the school
 Delhi Public School
 Bangalore Karnataka

#### Arguments

In [7]:
# write a pgm to calculate the electricity bill
def  electricity_bill(unit_used):
    if unit_used <= 500:
        print("Your bill is ", unit_used * 5)
    elif unit_used > 500 and unit_used <= 700:
        print("Your bill is ", unit_used * 10)
    elif unit_used > 700 and unit_used <= 1000:
        print("Your bill is ", unit_used * 15)  
    elif unit_used > 1000 :
        print("Your bill is ", unit_used * 20)   



def customer_notice():
    print("Last date of payment is 20 April")
    print("Delayed payments would amount to a fine of 1000€")

for i in range(1):
    user_name = input("Enter the name : ")
    unit_used = int(input("Enter the unit used: "))
    electricity_bill(unit_used)
    customer_notice()

Your bill is  14280
Last date of payment is 20 April
Delayed payments would amount to a fine of 1000€

#### String

In [1]:
b = "We are learning Python"
print(type(b))

<class 'str'>

In [3]:
# Indexing of strings
a = 'hello strings'
a[0]
a[-1]

's'

In [7]:
# slicing
# [start:end:stop]
s = 'hello strings'
s[0:5] 
s[0:10:2]

'hlosr'

In [8]:
# reverse
r = 'hello strings how are you?'
r[::-1]

'?uoy era woh sgnirts olleh'

In [11]:
# upper and lower method
r = 'hello strings how are you?'
print(r.upper())
r = 'HELLO STRINGS HOW ARE YOU?'
r.lower()

HELLO STRINGS HOW ARE YOU?

'hello strings how are you?'

In [14]:
r = 'hello strings how are you?'
print(r.replace('hello','bye'))

bye strings how are you?

#### LISTS
- are ordered , changeable, and allow duplicated values

In [1]:
my_list = ["apple", "apple", "Banana", "cherry"]
my_list

['apple', 'apple', 'Banana', 'cherry']

In [2]:
list_1 = [12,3,5, 'students',True, False]
len(list_1)

6

##### Accessing items in a List

In [4]:
list_2 = [12,3,5, 'students',True, False,63,78, "Toothpaste"]
print(list_2[-1])

Toothpaste

In [6]:
# Slicing of list
list_2 = [12,3,5, 'students',True, False,63,78, "Toothpaste"]
list_2[0:5]

[12, 3, 5, 'students', True]

#### changing items in a list

In [7]:
new_list = ["apple", "apple", "Banana", "cherry"]
new_list[1] = "strawberry"
new_list

['apple', 'strawberry', 'Banana', 'cherry']

#### Changing a range of items in list

In [9]:
list_2 = [12,3,5, 'students',True, False,63,78, "Toothpaste"]
list_2[2:4] = ['books', 'pen','paper']
list_2
list_2.append(12)
print(list_2)

[12, 3, 'books', 'pen', 'paper', True, False, 63, 78, 'Toothpaste', 12]

#### Reversing a list

In [10]:
list_2 = [12,3,5, 'students',True, False,63,78, "Toothpaste"]
list_2[::-1]

['Toothpaste', 78, 63, False, True, 'students', 5, 3, 12]

In [11]:
list_2 = [12,3,5, 'students',True, False,63,78, "Toothpaste"]
list_2.reverse()
list_2

['Toothpaste', 78, 63, False, True, 'students', 5, 3, 12]

In [14]:
# sum of a list
to_sum = [12,14,58,47,69,45,63,25,69]
#print(sum(to_sum))
a = 0
for i in range(len(to_sum)):
    a = a + to_sum[i]
    i +=1
print(a)

402

In [20]:
a = [1,2,3,4,5,6,7,8,9,10]
#print(len(a))
n = 1
for i in range(len(a)):
    n = n * a[i]
    i += 1
print(n)

3628800

#### Tuples

In [2]:
my_tuple = (1,2,3)
my_tuple

(1, 2, 3)

In [4]:
# Nested Tuples
a = ("Data", [1,2,3],(4,5,6))
print(a)

('Data', [1, 2, 3], (4, 5, 6))

In [5]:
var_1 = ('hello')
print(type(var_1))
var_2 = ('hello',)
print(type(var_2))

<class 'str'>
<class 'tuple'>

#### Tuple constructor

In [6]:
b = tuple(('a', 'b', 'c'))
print(b)
print(type(b))

('a', 'b', 'c')
<class 'tuple'>

#### Indexing

In [7]:
c = ('a', 'b', 'c',22, 25, 'data', 'python')
c[-1]

'python'

#### Slicing

In [8]:
c = ('a', 'b', 'c',22, 25, 'data', 'python')
c[0:6]

('a', 'b', 'c', 22, 25, 'data')

In [10]:
T = (1,2,3,4,5,6,7,8,)
print(T[::])
print(T[3:])
print(T[:4])
print(T[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

#### loop

In [11]:
this_tuple = ('a', 'b', 'c')
for x in this_tuple:
    print(x)

a
b
c

In [12]:
# join tuples
this_tuple = ('a', 'b', 'c')
T = (1,2,3,4,5,6,7,8,)
x = this_tuple + T
x

('a', 'b', 'c', 1, 2, 3, 4, 5, 6, 7, 8)

In [13]:
l=[]
for i in range(5):
    a=int(input("Enter a number="))
    l.append(a)
    t=tuple(l)
print(t)

(1, 2, 3, 4, 5)

#### dictionary

In [7]:
dict_1 = {
    'ID' : '123ab',
    'color' : 'Black',
    'year' : 1964
}

dict_1

{'ID': '123ab', 'color': 'Black', 'year': 1964}

In [9]:
dict_1 = {
    'ID' : '123ab',
    'color' : 'Black',
    'year' : 1964,
    'year' : 2000
}

dict_1['year']

2000

In [12]:
# length of dictionary
dict_1 = {
    'ID' : '123ab',
    'color' : 'Black',
    'year' : 1964,
    'year' : 2000
}

print(len(dict_1))

3

In [14]:
dict_2 = {
    'ID' : '123ab',
    'color' : 'Black',
    'year' : 1964,
    'a' : [1,2,3,4,5],
    'b' : (2.2,5.3),
    'c' : False
}

dict_2

{'ID': '123ab',
 'color': 'Black',
 'year': 1964,
 'a': [1, 2, 3, 4, 5],
 'b': (2.2, 5.3),
 'c': False}

In [21]:
# dictinary constructor
dict_3 = dict(name = 'swati', age = 22, country = 'India')
print(dict_3)

x = dict_3.keys()
print(x)

{'name': 'swati', 'age': 22, 'country': 'India'}
dict_keys(['name', 'age', 'country'])

In [22]:
dict_3 = dict(name = 'swati', age = 22, country = 'India')
y = dict_3.values()
y

dict_values(['swati', 22, 'India'])

### modifying a dictionary

In [24]:
dict_3 = dict(name = 'swati', age = 22, country = 'India')
dict_3['age'] = 28
print(dict_3)

dict_3.update({'mail id' : 'swati@gmail.com'})
print(dict_3)

{'name': 'swati', 'age': 28, 'country': 'India'}
{'name': 'swati', 'age': 28, 'country': 'India', 'mail id': 'swati@gmail.com'}

In [26]:
dict_2 = {
    'ID' : '123ab',
    'color' : 'Black',
    'year' : 1964,
    'a' : [1,2,3,4,5],
    'b' : (2.2,5.3),
    'c' : False
}

dict_2.pop('c')
del dict_2['color']
print(dict_2)

{'ID': '123ab', 'year': 1964, 'a': [1, 2, 3, 4, 5], 'b': (2.2, 5.3)}

In [27]:
dict_2 = {
    'ID' : '123ab',
    'color' : 'Black',
    'year' : 1964,
    'a' : [1,2,3,4,5],
    'b' : (2.2,5.3),
    'c' : False
}

del dict_2
dict_2

NameError: name 'dict_2' is not defined

In [29]:
dict1 = {1:10, 2:20}
dict2 = {3:30, 4:40}
dict3 = {5:50, 6:60}
dict4 = {}
for d in (dict1, dict2, dict3): dict4.update(d)
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [30]:
d = dict()
for x in range(1,16):
    d[x] =x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [2]:

a = { "name": "xyz",
      "age": 26,
      "country": "Bharat", "gender":"male/female" }

def is_key_present(x):

    if x in a:
        print("The key exists in the dictionary.")
    else:
        print("The key does not exist in the dictionary.")

is_key_present('age')

The key exists in the dictionary.